* {
	box-sizing: border-box;
}

body {
	font-family: 'PT Sans Narrow', sans-serif;
	margin: 0px;
	padding: 0px;
}

h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; }

.img-responsive {
	max-width: 100%;
	height: auto;
	display: block;
}

.thumbnail {
	border: 2px solid black;
	border-radius: 5px;
	margin: auto;
}

.pull-right {
	float: right !important;
}

.text-center { text-align: center !important; }

.section {
	margin-top: 60px;
}

.section h1 {
	text-align: center;
}


/*
 *	Navigation
*/

.nav {
	margin-top: 4px;
	margin-bottom: 4px;
	height: 35px;
	line-height: 35px;
	vertical-align: middle;
	font-size: 11pt;
}

/* equivalent to @screen-sm-min */
@media(min-width: 768px) {
	.nav {
		font-size: 13pt;
	}
}

.nav ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: right;
}

.nav li {
	height: 35px;
	line-height: 35px;
	display: inline;
	padding: 5px;
	color: black;
}

.nav a {
	color: black;
	text-decoration: underline;
}


/*
 *	Header
*/

header {
	width: 100%;
	background-color: #A60000;
	color: white;
	font-size: 40px;
	height: 80px;
	padding-top: 15px;
}

.marquee {
	background-image: url(banner2.jpg);
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 100%;
	padding: 3% 0% 41% 0%;
	text-align: center;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

	font-size: 40px;
}

@media (min-width: 992px) {
	.marquee {
		font-size: 60px;
	}
}

.logo {
	width: 69px;
	height: 52px;
	vertical-align: middle;
	margin-top: -12px;
}



/*
 *	Services
*/

.service {
	margin-top: -100px;
}

.services .col {
	padding: 12px;
	text-align: center;
}

.item {
	text-align: center;
	padding: 8px;
	width: 90%;
	height: 335px;
	margin: 0px auto;
}

.item h3 {
	margin: 0px;
}

.item .title {
	margin-bottom: 8px;
	height: 31px;
}

.item img {
	margin: 0px auto 5px auto;
}

.item .desc {
	text-align: left;
	font-size: 110%;
	margin: 0px;
}


/*
 *	About
*/

.about {
	max-width: 990px;
	margin: auto;
}

.about .summary, .about .outline {
	font-size: 18px;
}

.about .outline {
	padding-left: 30px;
}

.about .outline h3{
	margin-top: 24px;
	margin-bottom: 0px;
}

.about .outline ul {
	text-align: left;
	list-style-type: none;
	padding: 0px;
}

.about .outline ul > li:first-child {
	font-weight: bold;
}

.about .summary h2 {
	margin-top: 20px;
	margin-bottom: 0px;
}

.about .summary p {
	margin: 30px 30px auto auto;
}

.about .summary h2 {
	margin-right: 20px;
}


/*
 * Contact
 */

#sa_contactdiv table, #sa_contactdiv input, #sa_contactdiv textarea {
	width: 100%;
}

#sa_contactdiv input {
	height: 30px;
	font-size: 12pt;
}

#sa_contactdiv form {
	text-align: left;
}


/*
 *	Footer
 */
footer {
	font-size: 20px;
	margin-top: 60px;
	height: 80px;
	line-height: 30px;
	padding-top: 10px;
	vertical-align: middle;
	width: 100%;
	background-color: #A60000;
	color: white;
}

footer a {
	color: inherit;
}
