* {
	box-sizing: border-box;
}

body {
	/* font-family: 'PT Sans Narrow', sans-serif; */
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	padding: 0px;
}

h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; }

.img-responsive {
	max-width: 100%;
	height: auto;
	display: block;
}

.thumbnail {
	border-radius: 5px;
	margin: auto;
}

.pull-right {
	float: right !important;
}

.text-left { text-align: left !important; }
.text-center { text-align: center !important; }
.text-right { text-align: right !important; }

.section {
	margin-top: 100px;
}

.section h1 {
	text-align: center;
}


/*
 *	Navigation
*/

.top .row {
	padding: 0.5em 0;
}

.logo {
	margin: auto;
	margin-bottom: 0.5em;
}

.nav {
	font-size: 0.8em;
	color: #76736c;
	text-align: right;
}

.nav a {
	color: inherit;
	text-decoration: none;
	border: 1px solid #76736c;
	display: inline-block;
	text-align: center;
	margin-bottom: 2px;
	height: 1.75em;
	line-height: 1.6em;
	vertical-align: middle;
}

.nav a:hover {
	background: #76736c;
	color: white;
}

.nav-links a {
	width: 82px;
}

.nav-lang a {
	width: 40px;
	text-transform: uppercase;
}

.nav-lang a:first-of-type {
	margin-right: 2px;
}

@media (min-width : 768px) {
	.nav-links, .nav-lang {
		text-align: right;
	}

	.top .row {
		display: flex;
		align-items: center;
	}

	.logo {
		margin: initial;
		margin-bottom: 0;
	}
}


/*
 *	Header
*/

header {
	width: 100%;
	background-color: #A60000;
	color: white;
	font-size: 40px;
	height: 40px;
	padding-top: 15px;
}

.marquee {
	background-image: url(banner2text.jpg);
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 100%;
	padding: 3% 0% 41% 0%;
	text-align: center;
}

@media (min-width: 992px) {
	.marquee {
		font-size: 60px;
		padding: 3% 34% 41% 0%;
	}

	.top .row {
		display: flex;
		align-items: center;
	}
}


/*
 *	Services
*/

.service {
	margin-top: -100px;
}

.services .col {
	padding: 12px;
	text-align: center;
}

.item {
	text-align: center;
	padding: 8px;
	width: 90%;
	height: 335px;
	margin: 0px auto;
}

.item h3 {
	margin: 0px;
}

.item .title {
	margin-bottom: 8px;
	height: 31px;
	font-size: 16pt;
}

.item img {
	margin: 0px auto 5px auto;
	border-radius: 50%;
}

.item .desc {
	text-align: left;
	font-size: 11pt;
	margin: 0px;
	text-align: justify;
}

a.item-link {
	text-decoration: none;
	color: inherit;
}

a.item-link:hover {
	text-decoration: underline;
}


/*
 *	About
*/

.about {
	max-width: 990px;
	margin: auto;
}

.about .summary, .about .outline {
	font-size: 18px;
}

.about .outline {
	padding-left: 30px;
}

.about .outline h3{
	margin-top: 24px;
	margin-bottom: 0px;
}

.about .outline ul {
	text-align: left;
	list-style-type: none;
	padding: 0px;
}

.about .outline ul > li:first-child {
	font-weight: bold;
}

.about .summary h2 {
	margin-top: 20px;
	margin-bottom: 0px;
}

.about .summary p {
	margin: 30px 30px auto auto;
}

.about .summary h2 {
	margin-right: 20px;
}


/*
 * Contact
 */

#sa_contactdiv table, #sa_contactdiv input, #sa_contactdiv textarea {
	width: 100%;
}

#sa_contactdiv input {
	height: 30px;
	font-size: 12pt;
}

#sa_contactdiv form {
	text-align: left;
}


/*
 *	Footer
 */
footer {
	font-size: 14px;
	margin-top: 60px;
	height: 80px;
	line-height: 30px;
	padding-top: 10px;
	vertical-align: middle;
	width: 100%;
	background-color: #A60000;
	color: white;
}

footer a {
	color: inherit;
}
