* {
	box-sizing: border-box;
}

body {
	font-family: 'PT Sans Narrow', sans-serif;
}

h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; }

.thumbnail {
	border: 2px solid black;
	border-radius: 5px;
}

.section {
	margin-top: 60px;
}

.section h1 {
	text-align: center;
}

.text-center {
	text-align: center;
}

/*
 *	Navigation
*/

.nav {
	margin-top: 8px;
	height: 35px;
	line-height: 35px;
	vertical-align: middle;
}

.nav ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: right;
}

.nav li {
	height: 35px;
	line-height: 35px;
	display: inline;
	padding: 5px;
	color: black;
}

.nav a {
	color: black;
	text-decoration: underline;
}


/*
 *	Header
*/

header {
	height: 80px;
	line-height: 80px;
	vertical-align: middle;
	width: 100%;
	background-color: #A60000;
	color: white;
	font-size: 36px;
}

header img {
	vertical-align: middle;
}


/*
 *	Services
*/

.service {
	margin-top: -100px;
}

.services .col {
	padding: 12px;
	text-align: center;
}

.item {
	color: #D9D9D9;
	background: gray;
	text-align: center;
	padding: 8px;
	width: 90%;
	height: 335px;
	margin: 0px auto 8px auto;
}

.item h3 {
	margin: 0px;
}

.item .title {
	margin-bottom: 8px;
	height: 31px;
}

.item img {
	margin: 0px auto 5px auto;
}

.item .desc {
	text-align: left;
	font-size: 110%;
	margin: 0px;
}


/*
 *	About
*/

.about {
	width: 990px;
	margin: auto;
}

.about .summary, .about .outline {
	font-size: 18px;
}

.about .outline {
	padding-left: 30px;
}

.about .outline h3{
	margin-top: 24px;
	margin-bottom: 0px;
}

.about .outline ul {
	text-align: left;
	list-style-type: none;
	padding: 0px;
}

.about .outline ul > li:first-child {
	font-weight: bold;
}

.about .summary h2 {
	margin-top: 20px;
	margin-bottom: 0px;
}

.about .summary p {
	margin: 30px 30px auto auto;
}

.about .summary h2 {
	margin-right: 20px;
}


/*
 *	Footer
 */
footer {
	font-size: 20px;
	margin-top: 60px;
	height: 80px;
	line-height: 80px;
	vertical-align: middle;
	width: 100%;
	background-color: #A60000;
	color: white;
}